<div class="home">
  <div class="container full-height p-3">
    <div class="row m-0 que">
      <div class="col-md-12">
        <p>
          Your first question goes here heloo 123 jvhggjgyggjgjfscgcjweqfuiergkvbervuyrieuvrevrebvreb
          brebrewb
          brebtrw
          brtwbtrw
          btrw
        </p>
      </div>

    </div>
    <div class="row">

      <div class="col-md-12  button-grp">
        <button type="button" class="btn btn-secondary mr-2">A</button>
        <button type="button" class="btn btn-secondary mr-2">B</button>
        <button type="button" class="btn btn-secondary mr-2">C</button>
        <button type="button" class="btn btn-secondary mr-2">D</button>
      </div>
    </div>

  </div>
</div>